<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
    <link rel="stylesheet" href="css/mainCss.css"/>
    <link rel="stylesheet" href="../resources/bootstrap.min.css" />
    <link rel="stylesheet" href="../resources/bootstrap-table.css" />
    <script type="text/javascript" src="../resources/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../resources/bootstrap.js"></script>
    <script type="text/javascript" src="../resources/bootstrap-table.js"></script>
    <script type="text/javascript" src="../resources/bootstrap-table-zh-CN.js"></script>
</head>
<body>
<div class="log-window"></div>
<div class="topModule">
    <div class="loginTitle">修改密码</div>
    </div>
</div>
<hr/>
<form id="editUserInfo" class="form-horizontal editInfo">
    <div class="infoOperate" id="infoOperate" style="z-index:2;">
        <input id="id" name="id" hidden/>

        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control"  id="password" >
                <input type="password"  name="password" hidden>
            </div>
        </div>
        <div class="form-group">
            <label for="ensurepassword" class="col-sm-3 control-label">确认密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control"  id="ensurepassword" >
                <input type="password"  name="password" hidden>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <input type="button" class="btn btn-primary" id="enable" value="确认"  onclick="checkPasswordInput()">
            </div>
            <div class="col-sm-4">
                <input type="button" class="btn btn-default" id="cancel" value="返回" name="">
            </div>
        </div>

    </div>
</form>
<script type="text/javascript" src="../js/leaderOrderManage.js"></script>
</body>
</html>