<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
    <link rel="stylesheet" href="css/mainCss.css"/>
    <link rel="stylesheet" href="../resources/bootstrap.min.css" />
    <link rel="stylesheet" href="../resources/bootstrap-table.css" />
    <script type="text/javascript" src="../resources/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../resources/bootstrap.js"></script>
    <script type="text/javascript" src="../resources/bootstrap-table.js"></script>
    <script type="text/javascript" src="../resources/bootstrap-table-zh-CN.js"></script>
</head>
<body>
<div class="log-window"></div>
<div class="topModule">
    <div class="loginTitle">城市管理</div>
</div>
</div>
<hr/>
<div class="tableModule">
    <form id="center" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3">
                <input type="text" class="form-control" style="margin-left: 15px;" id="search" name="content" placeholder="请输入关键字查询"/>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary form-control" id="searchbtn" onclick="searchList()">查询</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary form-control" onclick="addCity()">添加</button>
            </div>
        </div>
    </form>
    <div style="width: 100%;" class="container">
        <div class="tableStyle">
            <table id="table" class="table table-hover"></table>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/city.js"></script>
</body>
</html>