<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/mainCss.css"/>
    <link rel="stylesheet" href="../resources/bootstrap.min.css" />
    <link rel="stylesheet" href="../resources/bootstrap-table.css" />
</head>
<body>
<div class="topModule">
    <div class="loginTitle">订单管理>>评价</div>
</div>
<hr/>
<span id="evali_id" style="display: none;"></span>
<p id='lastReply' style="width: 30%;margin-left: 15px;word-break:break-word;" >aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
<div>
    <div><textarea id='massage' style="width: 30%;height: 200px;margin-left: 15px;min-width: 400px;"></textarea></div>
    <div style="width: 30%;margin-top: 15px;"><button type="button" style="float: right;" class="btn btn-primary" id="reply">回复</button></div>
</div>
<script type="text/javascript" src="../resources/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../resources/bootstrap.js"></script>
<script type="text/javascript" src="../resources/bootstrap-table.js"></script>
<script type="text/javascript" src="../resources/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript">
    var replyData = JSON.parse(sessionStorage.getItem("replyData"));
    $("#evali_id").html(replyData.evaluation_id);
    $("#lastReply").val(replyData.lastReply);
    $.ajax({
        url: "/order/evaluationReply",
        dataType: 'json',
        data:{massage:$("#massage").val(),evalu_id:$("#evali_id").html()},
        success: function (data) {
            if (data == 'SUCCESS') {
                alert('回复成功！');
            }else{
                alert('回复失败！');
                location.href='https://www.baidu.com/';
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            if (XMLHttpRequest.status == 401) {
                alert("操作失败！！！")
            }
        }
    });

</script>
</body>
</html>