<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>登录</title>
<link href="css/login.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="../resources/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../resources/jquery.validate.min.js"></script>
<script type="text/javascript" src="../resources/md5.js"></script>
</head> 
<body>
<div class="log-window"></div>
<div class="login">
    <div class="message">物流信息管理系统</div>
    <div class="darkbannerwrap"></div>
    
    <form method="post" action="" id="loginForm">
		<input name="action" value="login" type="hidden">
		<div class="form-group">
	        <div class="col-sm-8">
	            <input id="account" name="username" placeholder="用户名" required="" type="text">
	        </div>
	    </div>
        <hr class="hr15">
        <div class="form-group">
            <div class="col-sm-8">
               <input id="password" name="password" placeholder="密码" required="" type="password">
            </div>
        </div>
    	<hr class="hr15">
	    <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-10">
	            <input value="登录" style="width:100%;" type="button" onclick="checkLogin()">
	        </div>
	    </div>
		<hr class="hr15">
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input value="注册" style="width:100%;" type="button" onclick="register()">
			</div>
		</div>
        <hr class="hr20">
		<div class="form-group">
			<input type="radio" name="grade" value="general" checked="true"/>普通用户
			<input type="radio" name="grade" value="administrator"/>管理员
		</div>
	</form>
</div>
<div  style="display: none">
	<input type="text" value="0" id="judgeOperation"/>
</div>
<div id='registermodule' class="login" style="position: fixed;top: -10%;left: 38%;width: 375px;z-index: 5;display: none;">
	<div class="message">注册</div>
	<div class="darkbannerwrap"></div>

	<form method="post" id="registerForm">
		<input name="action" value="login" type="hidden">
		<div class="form-group">
			<div class="col-sm-8">
				<input id="registerAccount" name="username" placeholder="用户名" required="" type="text">
			</div>
		</div>
		<hr class="hr15">
		<div class="form-group">
			<div class="col-sm-8">
				<input id="registerPassword" name="password" placeholder="密码" required="" type="password">
			</div>
		</div>
		<hr class="hr15">
		<div class="form-group">
			<div class="col-sm-8">
				<input id="surePassword" name="surepassword" placeholder="确认密码" required="" type="password">
			</div>
		</div>
		<hr class="hr15">
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-5">
				<input value="注册" style="width:100%;" type="submit" onclick="enableregister()">
			</div>
			<hr class="hr15">
			<div class="col-sm-offset-2 col-sm-5">
				<input value="取消" style="width:100%;" type="button" onclick="dismissRegister()">
			</div>
		</div>
		<hr class="hr20">
	</form>
</div>
<div class="copyright">© 2016品牌名称 by<a href="http://www.baidu.com/" target="_blank">0.0</a></div>
<script type="text/javascript" src="../js/login.js"></script>
</body>
</html>