<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../resources/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/bootstrap-table.css">
    <script type="text/javascript" src="../resources/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../resources/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/bootstrap-table.js"></script>
    <script type="text/javascript" src="../resources/bootstrap-table-zh-CN.js"></script>
</head>
<body>
<table id="table">

</table>
<script>
    function queryParams(params){
        return{
            size: params.limit,
            page:(params.offset / params.limit) + 1
        }
    }
    function show(data) {
        location.href = "./cityDetails.html?id=" + data.id;
    }
    function tableHeight(){
        return $(window).height() - 50;
    }

    $(window).resize(function() {
        $('#table').bootstrapTable('resetView', {
            height: tableHeight()
        })
    });
    $('#table').bootstrapTable({
        method: 'post',
        contentType: "application/x-www-form-urlencoded",//必须要有！！！！
        url:"/order/orderListConditionalPaging",//要请求数据的文件路径
        height:tableHeight(),//高度调整
        toolbar: '#toolbar',//指定工具栏
        striped: true, //是否显示行间隔色
        dataField: "res",//bootstrap table 可以前端分页也可以后端分页，这里
        //我们使用的是后端分页，后端分页时需返回含有total：总记录数,这个键值好像是固定的
        //rows： 记录集合 键值可以修改  dataField 自己定义成自己想要的就好
        pageNumber: 1, //初始化加载第一页，默认第一页
        pagination:true,//是否分页
        paginationLoop:true,
        queryParamsType:'limit',//查询参数组织方式
        queryParams:queryParams,//请求服务器时所传的参数
        sidePagination:'server',//指定服务器端分页
        pageSize:20,//单页记录数
        pageList:[5,10,20,30],//分页步进值
        showRefresh:true,//刷新按钮
        showColumns:true,
        undefinedText:"-",
        clickToSelect: true,//是否启用点击选中行
        toolbarAlign:'right',//工具栏对齐方式
        buttonsAlign:'right',//按钮对齐方式
        toolbar:'#toolbar',//指定工作栏
        responseHandler:function (result){
            return {
                total : result.map.total, //总页数,前面的key必须为"total"
                data : result.data //行数据，前面的key要与之前设置的dataField的值一致.
            };
        },
        onLoadSuccess:function (backData) {
            console.info(backData.data);
            $('#table').bootstrapTable('removeAll');
            $('#table').bootstrapTable('append', backData.data);
        },
        columns : [ {
            title:'全选',
            field:'select',
            checkbox : true,
            align : 'center',// 水平居中显示
            valign : 'middle',// 垂直居中显示
            width : '1'// 宽度
        },{
            title: '序号',//标题  可不加
            align : 'center',// 水平居中显示
            valign : 'middle',// 垂直居中显示
            width : '2',// 宽度
            formatter: function (value, row, index) {
                return index+1;
            }
        },{
            field:'id',
            visible:false
        }, {
            field : 'createTime',// 返回值名称
            title : '创建日期',// 列名
            align : 'center',// 水平居中显示
            valign : 'middle',// 垂直居中显示
            width : '1'// 宽度
        },{
            field:'sysUser.account',
            title:'用户名',
            align : 'center',// 水平居中显示
            valign : 'middle',// 垂直居中显示
            width : '1'// 宽度
        },{
            field : 'cost',// 返回值名称
            title : '订单费用',// 列名
            align : 'center',// 水平居中显示
            valign : 'middle',// 垂直居中显示
            width : '1'// 宽度
        },{
            field:'currentCity.cityName',
            title:'当前城市',
            align : 'center',// 水平居中显示
            valign : 'middle',// 垂直居中显示
            width : '1'// 宽度
        },{
            field:'orderStatus',
            title:'订单状态',
            align : 'center',// 水平居中显示
            valign : 'middle',// 垂直居中显示
            width : '1',// 宽度
            formatter:function (value) {
                switch (value) {
                    case "ORDER_PENDING_PAYMENT":return "等待付款";
                    case "ORDER_PAID_NO_SHIPPED":return "等待运输";
                    case "ORDER_BEING_SHIPPED":return "运输中";
                    case "ORDER_ARRIVALS":return "等待签收";
                    case "ORDER_SIGN":return "已签收";
                    default:return "错误订单";
                }
            }
        }, {
            title : '操作',// 列名
            width : '10',// 宽度
            formatter: function (value, row, index) {
                return "<input class='btn btn-info' type='button' style='margin-right: 5px' onclick='show("+JSON.stringify(row)+")' value='详情'>" +
                    ("<input class='btn btn-danger' type='button' onclick='del("+JSON.stringify(row)+")' value='删除'>");
            }
        }
        ]
    })
</script>
</body>
</html>